---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Oops! - 404 Not Found">
  <div id="error-page" class="container text-center py-5">
    <h1 class="display-1">Oops!</h1>
    <p class="lead">Sorry, the page you are looking for does not exist.</p>
    <p>
      <i>404 - Not Found</i>
    </p>
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
  </div>
</Layout>
