---
import './Navbar.css'
---
<div>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/images/alan_50.png" alt="Alan Logo"/>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 d-flex justify-content-start">
          <li class="nav-item ms-2 pt-1">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item ms-2 pt-1 me-auto">
            <a href="/projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item ms-2" id="linkedin">
            <a href="https://www.linkedin.com/in/leran-tao-1929b8379/" target="_blank" rel="noopener noreferrer">
              <img id="linkedin-logo" src="/images/linkedin.png" alt="LinkedIn"/>
            </a>
          </li>
          <li class="nav-item ms-2" id="youtube">
            <a href="https://www.youtube.com/channel/UCzdtyvYuUM6EGKhtsbF_jhQ" target="_blank" rel="noopener noreferrer">
              <img id="youtube-logo" src="/images/youtube.png" alt="YouTube"/>
            </a>
          </li>
          <li class="nav-item ms-2 me-2" id="github">
            <a href="https://github.com/alantao5056" target="_blank" rel="noopener noreferrer">
              <img id="github-logo" src="/images/github.png" alt="GitHub"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
