.logo {
  width: 50px;
}

.navbar-brand{
  padding-left: 2%;
}


/* .nav-item{
  padding-left: 10%;
} */
#github {
  position: absolute;
  right: 20px;
  padding: 8px 0;
}
#github-logo,#youtube-logo {
  width: 30px;
}

#youtube {
  position: absolute;
  right: 70px;
  padding: 8px 0;
}