.logo {
  width: 50px;
}

.navbar-brand{
  padding-left: 2%;
}


/* .nav-item{
  padding-left: 10%;
} */
#github {
  padding: 8px 0;
}
#github-logo,#youtube-logo,#linkedin-logo {
  width: 30px;
}

#youtube {
  padding: 8px 0;
}

#linkedin {
  padding: 8px 0;
}